extends layout

block head
    link(rel='stylesheet', href='css/index.css')

block content
    ul(class='effects')
        each effect in effects
            li
                a(href='/editor?id=' + effect.id)= effect.name
