doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='css/base.css')
        link(rel='stylesheet', href='css/auth-buttons.css')
        block head
    body
        header
            if user
                .user
                    a(class='name', href=user.profileUrl)= user.username
                a(class='logout', href='/logout') Logout
            else
                if dev
                    a(class='login btn-auth', href='/auth/plain') Development Login
                else
                    a(class='login btn-auth btn-github', href='/auth/github') Login with GitHub

            .version= version
            a.issueTracker(href='https://www.github.com/elovalo/webide/issues') Issue Tracker
            a.browse(href='/') Browse
            a.create(href='/editor') Create

        article
            block content

        footer
            a(href="http://elovalo.org") Brought to you by Elovalo
