doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='css/base.css')
        link(rel='stylesheet', href='css/auth-buttons.css')
        block head
    body
        header
            if user
                .user
                    a(class='name', href=user.profileUrl)= user.username
                a(class='logout', href='/logout') Logout
            else
                a(class='login btn-auth btn-github', href='/auth/github') Login with GitHub

            a(class='browse', href='/') Browse
            a(class='create', href='/editor') Create

        article
            block content

        footer
            a(href="http://elovalo.org") Brought to you by Elovalo
