html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.newEffect {
    float: left;
    margin-left: 2em;
}

.effects {
    float: left;
}

.user {
    float: right;
    margin-right: 2em;
}

.user .name {
    display: block;
}

.login {
    float: right;
    margin-right: 2em;
}

.logout {
    float: right;
    margin-right: 2em;
}
