html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font: 13px/1.333 "lucida grande", tahoma, sans-serif;
}

header, article, footer {
    overflow: auto;
}

article {
    height: 100%;
}

header, footer {
    padding: 1em;
    background: #ddd;
}

.browse {
    margin-left: 2em;
}

.create {
    margin-left: 2em;
}

.version {
    display: inline;
}

.issueTracker {
    margin-left: 2em;
}

.user {
    float: right;
}

.user .name {
    display: block;
}

.login {
    float: right;
}

.logout {
    float: right;
    margin-right: 2em;
}
