html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

header, article, footer {
    overflow: auto;
}

article {
    height: 100%;
}

header, footer {
    padding: 1em;
    background: #ddd;
}

.newEffect {
    float: left;
}

.user {
    float: right;
}

.user .name {
    display: block;
}

.login {
    float: right;
}

.logout {
    float: right;
    margin-right: 2em;
}
