.editor {
    float: right;
    width: 50%;
    height: 100%;
}

.preview {
    float: left;
    width: 50%;
    height: 100%;

    background: black;
}

.commands {
    padding: 1em;

    overflow: auto;

    background: #eee;
}

.command {
    float: left;
}

.commands .play::after {
    content: 'play';
}

.commands .stop::after {
    content: 'stop';
}

.codeTemplates {
    float: right;
}

.CodeMirror {
    height: auto;
}
