.editor {
    float: right;
    width: 50%;
    height: 100%;
}

.preview {
    float: left;
    width: 50%;
    height: 100%;

    background: black;
}

.commands {
    padding: 1em;

    overflow: auto;

    background: #eee;
}

.commands.error {
    background: #dbb;
}

.commands .playback {
    float: left;
}

.commands .play::after {
    content: 'play';
}

.commands .stop::after {
    content: 'stop';
}

.commands .save {
    float: right;
    margin-right: 2em;
}
.commands .save::after {
    content: 'save';
}

.commands .playbackOnCube {
    float: right;
    margin-right: 2em;
}
.commands .playbackOnCube.play::after {
    content: 'play on cube';
}
.commands .playbackOnCube.stop::after {
    content: 'stop on cube';
}

.commands .templates {
    float: right;
}

.initialCode, .codeId {
    display: none;
}

.CodeMirror {
    height: auto;
}

.saveMessage {
    float: right;
    margin-right: 2em;
}
